<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item>
      <div>Registration Id: {{registrationId}}</div>
      <button ion-button full (click)="getRegistrationID()">Get Registration Id</button>
    </ion-item>

    <ion-item>
      <button ion-button full (click)="setTags()">Set tags - Tag1, Tag2</button>
      <button ion-button full (click)="addTags()">Add tags - Tag3, Tag4</button>
      <button ion-button full (click)="checkTagBindState()">Check tag bind state - Tag1</button>
      <button ion-button full (click)="deleteTags()">Delete tags - Tag4</button>
      <button ion-button full (click)="getAllTags()">Get all tags</button>
      <button ion-button full (click)="cleanTags()">Clean tags</button>
    </ion-item>

    <ion-item>
      <button ion-button full (click)="setAlias()">Set Alias - TestAlias</button>
      <button ion-button full (click)="getAlias()">Get Alias</button>
      <button ion-button full (click)="deleteAlias()">Delete Alias</button>
    </ion-item>

    <ion-item>
      <button ion-button full (click)="addLocalNotification()">Trigger local notification after 5 seconds</button>
    </ion-item>
  </ion-list>
  <ion-list *ngFor="let item of myList">
    <button class="button-item">

      <div class="div-avatar-userName">
        <img class="img-avatar" [width]="40" [height]="40" align="left" src={{item.avatar}}>
        <p class="p-userName">
          {{item.userName}}</p>
      </div>

      <img class="img-content" src={{item.contentImage}}>

      <div class="div-icon-1">
        <div class="div-icon-2">
          <ion-col>
            <ion-icon (click)="liked(item)" class="icon" color="{{item.like?'danger':''}}"
                      name="{{item.like?'ios-heart':'ios-heart-outline'}}"></ion-icon>
          </ion-col>
        </div>

        <div class="div-icon-2">
          <ion-icon class="icon" name="ios-chatbubbles-outline"></ion-icon>
        </div>

        <div class="div-icon-2">
          <ion-icon class="icon" name="ios-paper-plane-outline"></ion-icon>
        </div>
        <div style=" float: right;text-align: right;">
          <ion-col>
            <ion-icon (click)="doCollection(item)" class="icon"
                      name="{{item.collection?'ios-bookmark':'ios-bookmark-outline'}}"></ion-icon>
          </ion-col>
        </div>
      </div>

      <div align="left">
        <p class="p-up">{{item.up}}次赞</p>
      </div>

      <div>
        <p class="p-content">{{item.content}}</p>
      </div>

      <div align="left">
        <p class="p-totalComment">共{{item.commentCount}}条评论</p>
      </div>
      <ion-list class="list-comment" *ngFor="let comment of item.comments">
        <p align="left" class="p-comment">
          <span class="span-fromUser">{{comment.fromUser}} </span>
          <span class="span-toUser">@{{comment.toUser}} </span>
          {{comment.commentContent}}
        </p>
      </ion-list>
      <form class="form-comment">
        <mat-form-field class="form-field-comment">
          <input matInput placeholder="Edit Comment...">
        </mat-form-field>
      </form>
      <p align="left" class="p-date">{{item.date|date:'yyyy-MM-dd HH:mm'}}</p>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
